/* IE 8 OVERRIDES */

/* ALL PAGES */
/* ------------------------------------------------------------------------------------------------------------- */
div.user-profile-header {padding-bottom:0px !important;}

div.user-toolbar input{	border: 0 !important;	background: 0 !important;}
	#submit-form-bar {max-height: 65px!important;}

div.toolbr-box {	height: 65px;}

.toolbar-box div.m {	height: 50px;}
div.header-toolbar span {	margin: 0px;	position: relative}
div.user-toolbar span {	margin: 0px;	position: relative}
div.popup-toolbar span {	margin: 0px;	position: relative;	padding-right: 0;}
div.toolbar-list .span {float:left;	margin: 0px;	position: relative;}

div.toolbar-list a {position: relative;	top: 0px;	left: 0px;}
div.message-list span {	margin: 0px;	position: relative}

div.message-list a {	position: relative;}
#menu ul li.separator {	display:inline;}
input, select, button {	font-size:1em;}
fieldset.adminform legend {	position: absolute;	float: left;	top: -0.6em;	left: 0.6em;}
div.width-20 fieldset.adminform, div.width-30 fieldset.adminform, div.width-35 fieldset.adminform, div.width-40 fieldset.adminform, 
div.width-45 fieldset.adminform, div.width-50 fieldset.adminform, div.width-55 fieldset.adminform, div.width-60 fieldset.adminform,
div.width-65 fieldset.adminform, div.width-70 fieldset.adminform, div.width-80 fieldset.adminform, div.width-100 fieldset.adminform {
	position: relative;
	overflow: visible;
	background-color:#FFFFFF;
	padding:15px 17px 17px;
	margin-top: 20px;
}
.pane-sliders {	margin: 20px 0 0 0;}	

/* PROCEDURES PAGE */
/* ------------------------------------------------------------------------------------------------------------- */
/* bottom border wasnt appearing in the filter box */
div.filter {padding-bottom:1px}
/*places hover opacity for older browsers */
.opas tr {border:solid 1px transparent;}
.opas tr:hover {border :solid 1px Gray ;}

/* MONTH VIEW CALENDAR */
.mcal-day {  } /* width: 13.96011834144%; forces calendar days to fit to rows without wrapping given different metrics in ie6 */
.mcal-week {padding-left: 4px; }


/* BOOKING PAGE */
/* -------------------------------------------------------------------------------------------------------------- */

/* ALL BUTTONS */
.disabled-button {background: url(../images/button-bg-grey.jpg) 100% 0  no-repeat !important;}